USE [master]
GO

CREATE DATABASE [testdb2]
GO
USE [testdb2]
GO
/****** Object:  Table [dbo].[ANSWER]    Script Date: 26.06.2019 20:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANSWER](
	[ANSWERID] [int] NOT NULL,
	[ANSWERTEXT] [varchar](200) NULL,
	[ANSWERNOTE] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[ANSWERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QA]    Script Date: 26.06.2019 20:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QA](
	[QA_ID] [int] NOT NULL,
	[QUESTIONID] [int] NULL,
	[ANSWERID] [int] NULL,
	[CORRECTANSWER] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[QA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUESTION]    Script Date: 26.06.2019 20:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTION](
	[QUESTIONID] [int] NOT NULL,
	[TESTID] [int] NOT NULL,
	[QUESTIONTEXT] [varchar](200) NULL,
	[QUESTIONNOTE] [varchar](150) NULL,
	[QUESTIONNUMBER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[QUESTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEST]    Script Date: 26.06.2019 20:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEST](
	[TESTID] [int] NOT NULL,
	[TESTCATERY] [varchar](50) NULL,
	[TESTTITLE] [varchar](50) NULL,
	[TESTNOTE] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[TESTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 26.06.2019 20:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[USERID] [int] NOT NULL,
	[LNAME] [varchar](50) NULL,
	[FNAME] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[PASSWORD] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERANSWERS]    Script Date: 26.06.2019 20:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERANSWERS](
	[USERANSWERSID] [int] IDENTITY(1,1) NOT NULL,
	[USERTESTID] [int] NOT NULL,
	[QA_ID] [int] NOT NULL,
	[NOTE] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[USERANSWERSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERTEST]    Script Date: 26.06.2019 20:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERTEST](
	[USERTESTID] [int] NOT NULL,
	[USERID] [int] NOT NULL,
	[TESTID] [int] NOT NULL,
	[TESTDATE] [datetime] NULL,
	[TESTREMARKS] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[USERTESTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ANSWER] ([ANSWERID], [ANSWERTEXT], [ANSWERNOTE]) VALUES (1, N'Java Virtual Machine', NULL)
INSERT [dbo].[ANSWER] ([ANSWERID], [ANSWERTEXT], [ANSWERNOTE]) VALUES (2, N'Common Language Runtime', NULL)
INSERT [dbo].[ANSWER] ([ANSWERID], [ANSWERTEXT], [ANSWERNOTE]) VALUES (3, N'Common Type System', NULL)
GO
INSERT [dbo].[QA] ([QA_ID], [QUESTIONID], [ANSWERID], [CORRECTANSWER]) VALUES (1, 1, 1, 1)
INSERT [dbo].[QA] ([QA_ID], [QUESTIONID], [ANSWERID], [CORRECTANSWER]) VALUES (2, 1, 2, 0)
INSERT [dbo].[QA] ([QA_ID], [QUESTIONID], [ANSWERID], [CORRECTANSWER]) VALUES (3, 1, 3, 0)
GO
INSERT [dbo].[QUESTION] ([QUESTIONID], [TESTID], [QUESTIONTEXT], [QUESTIONNOTE], [QUESTIONNUMBER]) VALUES (1, 1, N'CLR is the .NET equivalent of _________.', N'', NULL)
INSERT [dbo].[QUESTION] ([QUESTIONID], [TESTID], [QUESTIONTEXT], [QUESTIONNOTE], [QUESTIONNUMBER]) VALUES (2, 1, N'The CLR is physically represented by an assembly named _______', N'', NULL)
INSERT [dbo].[QUESTION] ([QUESTIONID], [TESTID], [QUESTIONTEXT], [QUESTIONNOTE], [QUESTIONNUMBER]) VALUES (3, 1, N'SOAP stands for __________.', N'', NULL)
INSERT [dbo].[TEST] ([TESTID], [TESTCATERY], [TESTTITLE], [TESTNOTE]) VALUES (1, N'', N'C Sharp Dot net', N'')
INSERT [dbo].[TEST] ([TESTID], [TESTCATERY], [TESTTITLE], [TESTNOTE]) VALUES (2, N'', N'SQL', N'')
INSERT [dbo].[TEST] ([TESTID], [TESTCATERY], [TESTTITLE], [TESTNOTE]) VALUES (3, N'', N'JS', N'')
INSERT [dbo].[USER] ([USERID], [LNAME], [FNAME], [EMAIL], [PASSWORD]) VALUES (1, N'Mila', N'Plita', N'mila@google.com', N'123456')
/****** Object:  Index [RELATIONSHIP_5_FK]    Script Date: 26.06.2019 20:59:57 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_5_FK] ON [dbo].[QA]
(
	[QUESTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_6_FK]    Script Date: 26.06.2019 20:59:57 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_6_FK] ON [dbo].[QA]
(
	[ANSWERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_1_FK]    Script Date: 26.06.2019 20:59:57 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_1_FK] ON [dbo].[QUESTION]
(
	[TESTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [QA_ID_FK]    Script Date: 26.06.2019 20:59:57 ******/
CREATE NONCLUSTERED INDEX [QA_ID_FK] ON [dbo].[USERANSWERS]
(
	[QA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [USERANSWERS_FK]    Script Date: 26.06.2019 20:59:57 ******/
CREATE UNIQUE NONCLUSTERED INDEX [USERANSWERS_FK] ON [dbo].[USERANSWERS]
(
	[USERANSWERSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [USERTESTID_FK]    Script Date: 26.06.2019 20:59:57 ******/
CREATE NONCLUSTERED INDEX [USERTESTID_FK] ON [dbo].[USERANSWERS]
(
	[USERTESTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_2_FK]    Script Date: 26.06.2019 20:59:57 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_2_FK] ON [dbo].[USERTEST]
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_3_FK]    Script Date: 26.06.2019 20:59:57 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_3_FK] ON [dbo].[USERTEST]
(
	[TESTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QA]  WITH CHECK ADD  CONSTRAINT [FK_QA_RELATIONS_ANSWER] FOREIGN KEY([ANSWERID])
REFERENCES [dbo].[ANSWER] ([ANSWERID])
GO
ALTER TABLE [dbo].[QA] CHECK CONSTRAINT [FK_QA_RELATIONS_ANSWER]
GO
ALTER TABLE [dbo].[QA]  WITH CHECK ADD  CONSTRAINT [FK_QA_RELATIONS_QUESTION] FOREIGN KEY([QUESTIONID])
REFERENCES [dbo].[QUESTION] ([QUESTIONID])
GO
ALTER TABLE [dbo].[QA] CHECK CONSTRAINT [FK_QA_RELATIONS_QUESTION]
GO
ALTER TABLE [dbo].[QUESTION]  WITH CHECK ADD  CONSTRAINT [FK_QUESTION_RELATIONS_TEST] FOREIGN KEY([TESTID])
REFERENCES [dbo].[TEST] ([TESTID])
GO
ALTER TABLE [dbo].[QUESTION] CHECK CONSTRAINT [FK_QUESTION_RELATIONS_TEST]
GO
ALTER TABLE [dbo].[USERANSWERS]  WITH CHECK ADD  CONSTRAINT [FK_USERANSW_USERANSWE_QA] FOREIGN KEY([QA_ID])
REFERENCES [dbo].[QA] ([QA_ID])
GO
ALTER TABLE [dbo].[USERANSWERS] CHECK CONSTRAINT [FK_USERANSW_USERANSWE_QA]
GO
ALTER TABLE [dbo].[USERANSWERS]  WITH CHECK ADD  CONSTRAINT [FK_USERANSW_USERANSWE_USERTEST] FOREIGN KEY([USERTESTID])
REFERENCES [dbo].[USERTEST] ([USERTESTID])
GO
ALTER TABLE [dbo].[USERANSWERS] CHECK CONSTRAINT [FK_USERANSW_USERANSWE_USERTEST]
GO
ALTER TABLE [dbo].[USERTEST]  WITH CHECK ADD  CONSTRAINT [FK_USERTEST_RELATIONS_TEST] FOREIGN KEY([TESTID])
REFERENCES [dbo].[TEST] ([TESTID])
GO
ALTER TABLE [dbo].[USERTEST] CHECK CONSTRAINT [FK_USERTEST_RELATIONS_TEST]
GO
ALTER TABLE [dbo].[USERTEST]  WITH CHECK ADD  CONSTRAINT [FK_USERTEST_RELATIONS_USER] FOREIGN KEY([USERID])
REFERENCES [dbo].[USER] ([USERID])
GO
ALTER TABLE [dbo].[USERTEST] CHECK CONSTRAINT [FK_USERTEST_RELATIONS_USER]
GO
USE [master]
GO
